
<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a href="/">GRAS Anthony - Angular (Dev mobile 2)</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
      <a href="/" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

